<% layout("/layouts/boilerplate") %>


<div class="row mt-3">
    <div class="alert alert-danger col-6 offset-3" role="alert">
        <h4 class="alert-heading"><%= message %></h4>
    </div>
    <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTyPp8Zy6ju7CQ4PlvToNJAkWqm25I_zQyrg&s" style="width: 25rem ; height: 10rem; color: #fe424d;"> -->
</div>